#head {
    color: cadetblue;
}
#warper {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.inputWarper {
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}
#input {
   min-width: 570px;
   width: 60%;
   height: 30px;
   border-radius: 5px;
   text-indent: 10px;
   border-width: 1px;
}
.btn {
    width: 100px;
    height: 34px;
    color: white;
    font-size: 14px;
    background-color: #4189FD;
    border-radius: 5px;
    border-color: #4189FD;
    margin-left: 20px;
    border-style: none;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    border: 1px solid black;
    height: 30px;
    width: 70%;
    min-width: 700px;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.itemleft {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.click {

}
.text {
    font-size: 14px;
}
.opreat {
    display: flex;
    flex-direction: row;
}
.delete {
    font-size: 12px;
    color: red;
    margin-right: 15px;
    cursor: pointer;
}
.finish {
    margin-right: 5px;
    font-size: 12px;
    color: #4189FD;
    margin-right: 15px;
    cursor: pointer;
}